body {
  background-color: #f8f8f8;
  --up-color: #16c784;
  --down-color: #ea3943;
  --bg-light-color: #1b1b1b;
  --link-color: #ff9900;
  --link-color2: #ffc46b;
}

li {
  list-style: none;
}

.clickableRow {
  cursor: cell;
}

@media only screen and (max-width: 550px) {
  .ant-table-wrapper .ant-table-filter-column {
    flex-direction: column-reverse;
    align-items: center;
  }
  .ant-table-wrapper .ant-table-column-title {
    margin: 5px;
  }
  .ant-table-wrapper .anticon {
    width: 50px;
  }
}

.ant-table-filter-trigger {
  transform: scale(1.5);
  margin: 1rem;
}